h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 70px;
    padding:0;
    margin:0;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    padding:0;
    margin:0;
}

#container {
    margin: auto;
    width: 50%;
    border: solid 2px hotpink;
}

header {
    margin: auto;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

nav {
    justify-content: space-aroud;
}

