body {
    font-family: 'Fredoka', sans-serif;
    background-color: #73C2FF;
    color: white;
}
/* top section */
header {
    margin: auto;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin:0; 
    font-weight: normal;
    color: #635C70;
 
}
 
nav {
    
    display: flex;
    font-family: 'Fredoka', sans-serif;
    justify-content: center;
    background-color:  white;
    gap: 140px;
    border-radius: 90px;
    border-style: solid none;
   



}

nav a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 24px;
    color:#635C70;
    text-decoration: none;
}

nav a:visited { 
    text-decoration: none; 
}

/* main section */
main{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;
    
}
section{
    
    background-color: rgba(255, 255, 255, 0.3);
    color: #635C70;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
}

h2 {
    font-size: 28px;
    margin: 0;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;

}

section p{
    margin: 0;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    width: 667px;
    font-size: 20px;
    text-align: left;
}

section p span{
    font-weight: 600;
}


section p a {
    text-decoration: none;
    color: #635C70;
    font-weight: 600;
}

section p a:hover{
   color: #ffff;
}


/* form styles */

.form{
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 1200px;
    
}

.form p{
    font-size: 12px;
    width: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}
label{
    font-size: 20px;
}

input[type=text1]{
    background-color: rgba(255, 255, 255, 0.4);;
    color: #635C70;;
    font-family: 'Fredoka', sans-serif;
    font-style: italic;
    padding: 10px 10px 3px 10px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(99, 92, 112, 0.4);
    border-radius: 10px;
}  

input[type=text2]{
    background-color: rgba(255, 255, 255, 0.4);;
    color: #635C70;;
    font-family: 'Fredoka', sans-serif;
    font-style: italic;
    padding: 10px 10px 3px 10px;
    width: 620px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(99, 92, 112, 0.4);
    border-radius: 10px;
} 

input[type=text3]{
    background-color: rgba(255, 255, 255, 0.4);;
    color: #635C70;;
    font-family: 'Fredoka', sans-serif;
    font-style: italic;
    padding: 10px 10px 3px 10px;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(99, 92, 112, 0.4);
    border-radius: 10px;
} 
input[type=text4]{
    background-color: rgba(255, 255, 255, 0.4);;
    color: #635C70;;
    font-family: 'Fredoka', sans-serif;
    font-style: italic;
    padding: 10px 10px 3px 10px;
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(99, 92, 112, 0.4);
    border-radius: 10px;
} 
input[type=text5]{
    background-color: rgba(255, 255, 255, 0.4);;
    color: #635C70;;
    font-family: 'Fredoka', sans-serif;
    font-style: italic;
    padding: 10px 10px 3px 10px;
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(99, 92, 112, 0.4);
    border-radius: 10px;
} 
input[type=text6]{
    background-color: rgba(255, 255, 255, 0.4);;
    color: #635C70;;
    font-family: 'Fredoka', sans-serif;
    font-style: italic;
    padding: 10px 10px 3px 10px;
    width: 620px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(99, 92, 112, 0.4);
    border-radius: 10px;
} 

.name{
    display: flex;
    margin: auto;
    gap: 20px;
    
}

.contact{
    display: flex;
    margin: auto;
    gap: 20px;
}

.address{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    
}

.street{
    display: flex;
    flex-direction: column;
    
}

.location{
    display: flex;
    gap: 20px;
}

.info{
    display: flex;
    flex-direction: column;
}

.time{
    display: flex;
    gap: 20px;
}

.pref{
    display: flex;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    margin: 25px;
}
button{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 2px;
font-family: 'Fredoka';
font-style: normal;
font-size: 24px;
color: #635C70;
width: 200px;
height: 42px;
background: rgba(255, 255, 255, 0.8);
border-radius: 40px;
border: none;
}
/* footer section */

footer {
    text-align: center;
    padding-top: 70px;
}

@media only screen and (min-width: 700px) {
    .sec2{
        min-width: 667px;
    }

}