body {
    font-family: 'Fredoka', sans-serif;
    background-color: #73C2FF;
    color: white;
}
/* top section */
header {
    margin: auto;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin:0; 
    font-weight: normal;
    color: #635C70;
 
}
 
nav {
    
    display: flex;
    font-family: 'Fredoka', sans-serif;
    justify-content: center;
    background-color:  white;
    gap: 140px;
    border-radius: 90px;
    border-style: solid none;
   



}

nav a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 24px;
    color:#635C70;
    text-decoration: none;
}

nav a:visited { 
    text-decoration: none; 
}

/* main section */
main{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;
    
}
section{
    
    background-color: rgba(255, 255, 255, 0.3);
    color: #635C70;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
}

h2 {
    font-size: 28px;
    margin: 0;
    font-family: 'Shrikhand', cursive;
    font-weight: normal;

}

section p{
    margin: 0;
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    width: 667px;
    font-size: 20px;
    text-align: left;
}

section p span{
    font-weight: 600;
}


section p a {
    text-decoration: none;
    color: #635C70;
    font-weight: 600;
}

section p a:hover{
   color: #ffff;
}
/* footer section */

footer {
    text-align: center;
    padding-top: 70px;
}

